<!DOCTYPE html>
<html>
<head>
  <title>Emerald Media Group - Eugene Crime Map</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
